@keyframes rotating {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(540deg);
  }
}

.rotate-second {
  animation: rotating 60.083449s linear infinite; /*(60*60*12)/((60*12)-1)*/
}

.rotate-minute {
  animation: rotating 3927.27273s linear infinite; /*(60*60*12)/(12-1)*/
}

.rotate-hour {
  animation: rotating 43200s linear infinite;
}

.hand {
  display: inline-block;
  transform-origin: 50% 100%;
  width: 2px;
  height: 50vmin;
  position: absolute;
  left: 0;
  bottom: 100%;
  background-color: white;
  border-radius: 100px;
}

.hour {
  position: fixed;
  left: 50%;
  bottom: 50%;
  width: 2px;
  height: 10vmin;
  transform-origin: 50% 50%;
  z-index: -1;
}
